html{

    background: url(/image/yo.jpg);
    background-size: 100%;
    background-position: center;
   }
   
   #all-form{
       width: 100%;
       margin-top: 120px;
       display: flex;
       flex-direction: column;
       color: rgb(255, 255, 255);
       align-items: center;
      }
   
      
   .sign-in{
     width: 100%;
          font-size: 30px;
          margin-top: 120px;
          display: flex;
          flex-direction: column;
          color: aliceblue;
          align-items: center;
       
   }
   .form{
       width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   
   }
   
   div{
   margin-top: 10px;
   }
   
   
   
   #oui{
    font-style: none;
    color: white;
    font-weight: bolder;
   
   }
   #oui:hover{
    background-color: grey;
    transition: 1s;
   }